{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta %}
	{% if page.metaTitle %}
	<meta name="title" content="{{ page.metaTitle }}">
	{% endif %}
	{% if page.metaDesc %}
	<meta name="description" content="{{ page.metaDesc }}">
	{% endif %}
	{% if page.metaKeywords %}
	<meta name="keywords" content="{{ page.metaKeywords }}">
	{% endif %}
{% endblock %}

{% block body %}
	<header class="header header-colored">
			<div class="container clearfix">
				<a href="/" class="header__logo">
					<span class="header__logo-text">Разработка современных<br>интернет-проектов.</span>
				</a>
				<div class="header__phone">
					<p class="header__phone-number">(495) 627-66-86</p>
					<a href="javascript:void(0);" data-href="#request" class="header__phone-descr js-popup-link">Заказать звонок</a>
				</div>
				<nav class="nav">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="#services" class="nav__link">Цены</a>
						</li>
						<li class="nav__item">
							<a href="#technologies" class="nav__link">Технологии</a>
						</li>
						<li class="nav__item">
							<a href="#portfolio" class="nav__link">Работы</a>
						</li>
					</ul>
				</nav>
			</div>
	</header>
	
	<main class="static">
		<div class="container">
			{{ page.text|raw }}
		</div>
	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer__col">
				<div class="footer__col-title">Контакты</div>
				<p class="footer__phone">(495) 627-66-86</p>
				<p class="footer__phone">+79166858535</p>
				<p class="footer__phone">+380992498581 (для Украины)</p>
				<p class="footer__info">Эл. почта: mail@upitel.ru</p>
				<p class="footer__info footer__info_last">Алтуфьевское шоссе, 79д<br>Москва, Россия</p>
			</div>
			<div class="footer__col">
				<div class="footer__col-title footer__col-title_form">Задать вопрос</div>

				<!-- form -->
				<form action="#" class="form" id="question_form">
					<div class="form__box">
						<div class="form__field form__field_mini">
							<input type="text" id="question_name" name="question_name" placeholder="Как вас зовут?" class="form__input">
						</div><!--
						--><div class="form__field form__field_mini">
							<input type="tel" id="question_phone" name="question_phone" placeholder="+7 (___) ___ - __ - __" class="form__input">
						</div>
					</div>

					<div class="form__field">
						<textarea placeholder="Ваш вопрос" class="form__textarea"></textarea>
					</div>

					<div class="form__field form__field_submit">
						<input type="submit" id="question" name="question" value="Задать вопрос" class="form__submit">
					</div>
					<input type="reset" class="hidden-element" id="question_reset">
				</form>
			</div>
		</div>

		<div class="footer__bottom">
			<div class="container clearfix">
				<span class="footer__text">© {{ "now"|date("Y") }}, Upitel</span>
			</div>
		</div>
	</footer>
	<div class="hidden-element">
		<div class="popup popup_std" id="request">
			<a href="javascript:void(0);" class="popup__close arcticmodal-close"></a>
			<p class="popup__title">Заявка на консультацию</p>
			<div class="popup__content">
				<form action="#" class="form form_popup" id="cons_form">
					<div class="form__field form__field_mini">
						<input type="text" class="form__input" id="cons_name" name="cons_name" placeholder="Как вас зовут?">
					</div><!--
					--><div class="form__field form__field_mini">
						<input type="tel" class="form__input" id="cons_phone" name="cons_phone" placeholder="+7 (___) ___ - __ - __">
					</div>
					<div class="form__field">
						<textarea class="form__textarea" id="cons_comment" name="cons_comment" placeholder="Ваш комментарий"></textarea>
					</div>
					<div class="form__field form__field_submit">
						<input type="submit" data-href="#success" class="form__submit" value="Получить консультацию">
					</div>
					<input type="reset" class="hidden-element" id="cons_reset">
				</form>
			</div>
		</div>
		<div class="order_popup popup popup_std" id="callback">
			<div class="popup__content">
				<a href="javascript:void(0);" class="popup__close arcticmodal-close"></a>
				<form action="#" class="form form_popup clearfix" id="shop_form">
					<div class="form_title">
						Расскажем об услуге и предложим решение
					</div>
					<div class="form__field form__field_mini">
						<input type="text" class="form__input" id="shop_name" name="shop_name" placeholder="Как вас зовут?">
					</div><!--
					--><div class="form__field form__field_mini">
						<input type="tel" class="form__input" id="shop_phone" name="shop_phone" placeholder="+7 (___) ___ - __ - __">
					</div>
					<div class="form__field form__field_submit">
						<input type="submit" data-href="#success" class="form__submit" value="Получить консультацию">
					</div>
					<input type="reset" class="hidden-element" id="shop_reset">
				</form>
			</div>
		</div>
	</div>
	<div class="hidden-element">
		<div class="popup popup_std" id="ok">
			<a href="javascript:void(0);" class="popup__close arcticmodal-close"></a>
			<p class="popup__title">Отправлено</p>
			<div class="popup__content">
				<p>Спасибо за заявку, менеджер свяжется с вами в течении 15 мин</p>
			</div>
		</div>
	</div>
	<button data-href="#ok" class="js-popup-link hidden-element" id="thanks">Спасибо</button>
	<div class="md-overlay"></div>
{% endblock %}