{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ tinymce_init() }}

	<script>
		$(document).ready(function() {
	        tinyMCE.init({
	        	mode: "textareas",
	        	language: 'ru',
	        	plugins: ["image", 'code'],
	        	image_caption: true,
	        	images_upload_url: 'postAcceptor.php',
  				images_upload_base_path: '/uploads/',
    		});
    	});
	</script>
{% endblock %}