<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<meta name="format-detection" content="telephone=no">
        {% block meta %}{% endblock %}
        <title>{% block title %}Разработка сайтов на 1С-Битрикс - Uptel{% endblock %}</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/scripts/arcticmodal/jquery.arcticmodal.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="/scripts/main.min.js"></script>
        <script src="/scripts/jquery.maskedinput.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
